/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main {
    max-width: 1040px;
    margin: 20px auto;
    padding: 0 40px;
}

/* shared style  */
.display-flex {
    display: flex;
}

.icon {
    width: 18px;
    height: 17px;
}

/* navbar-style */
nav li {
    list-style: none;
    margin-left: 34px;
}

nav ul {
    font-size: 1rem;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: rgb(58, 58, 58);
}

.navbar {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

/* header-section */
.header {
    align-items: center;
}

.header-title {
    font-size: 3.25rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
}

.header-description {
    font-size: 1rem;
    font-weight: 700;
    max-width: 505px;
}

.btg-primary {
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    width: 196px;
    height: 48px;
    background-color: rgb(224, 44, 109);
    color: white;
    border-radius: 41px;
    border: none;
}

.header-img {
    background-image: url('../images/Circle\ design.svg');
}

/* company-img(banner) */
.company-img {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 100px;
    margin-bottom: 100px;
    justify-items: center;
}

/* main-card-section */

.popular-collection{
    padding: 0px 100px 0px 0px;
}

.box-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;

}

.card {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}

.products {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
    height: 476px;
    background-color: #FFFFFF;

}

.product-img {
    border-radius: 8px;
    padding: 15px 15px 0px 15px; 

}

.product-title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-left: 14px;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 10px;
    padding-left: 14px;
}

.product-description {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 14px;
}

.product-rating {
    padding-left: 14px;
}
.btg-card{
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    border: none;
    width: 99px;
    height: 24px;
    mar

}


/* responsive for mobile device */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }

    .navbar {
        margin-bottom: 20px;
        align-items: center;
    }

    .header {
        flex-direction: column-reverse;
    }

    .header-title {
        font-size: 1.75rem;
        text-align: center;
    }
    .company-img {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        gap: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .header-description {
        font-size: 0.9rem;
        font-weight: 500;
        margin: 15px 20px 20px 20px;
    }

    #home {
        margin-left: 0px;
    }

    nav ul li {
        flex-direction: row;
        margin-left: 12px;
        align-items: center;
    }
    .card{
        grid-template-columns: 1fr;
        margin: 20px auto;
    }


}

/* responsive for tab device */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .navbar {
        flex-direction: column;
    }

    .header {
        flex-direction: column-reverse;
    }

}