/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.main {
    max-width: 1240px;
    margin: 50px auto;
}

/* shared style  */
.display-flex {
    display: flex;
}



/* navbar-style */
nav li {
    list-style: none;
    margin-left: 34px;
}
nav ul{
    font-size: 1rem;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: rgb(58, 58, 58);
}

.navbar {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
}

/* header-section */
.header{
    align-items: center;
}
.header-title{
    font-size: 3.25rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
}
.header-description{
    font-size: 1rem;
    font-weight: 700;
    max-width: 505px;
}

.btg-primary{
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    width: 196px;
    height: 48px;
    background-color: rgb(224, 44, 109);
    color: white;
    border-radius: 41px;
    border: none;
}
.header-img{
    background-image: url('../images/Circle\ design.svg');
}

/* company-img(banner) */
.company-img{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 100px;
    margin-bottom: 100px;
    justify-items: center;
}